<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=NTSERV;Initial Catalog=Northwind;Persist Security Info=True;User ID=testsql;Password=testsql"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database2ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database2.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database3ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database3.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database4ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database4.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database5ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database5.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database6ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database6.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database7ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database7.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.Database9ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database9.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.Form3ConnectionString"
            connectionString="Data Source=|DataDirectory|\Form3.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WindowsFormsApplication1.Properties.Settings.MyDatabaseConnectionString"
            connectionString="Data Source=МИША-ПК\SQLEXPRESS;Initial Catalog=MyDatabase;Persist Security Info=True;User ID=testSQL;Password=testSQL"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>